<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database"
         xmlns:aop="http://www.springframework.net/aop"
         xmlns:tx="http://www.springframework.net/tx">
  
  <!--<object name="MySessionFactory" parent="abstrctSessionFactory" >
    <property name="MappingAssemblies">
      <list>
        <value>ZxdFramework.Mvc</value>
        <value>ZxdFramework.Net</value>
        <value>ZxdFramework.Net.DataContract</value>
        <value>ZxdFramework.WebUI</value>
        <value>ZxdFramework.Net.Authorization</value>
      </list>
    </property>
  </object>-->
  
  <import resource="assembly://ZxdFramework.WebUI/ZxdFramework.WebUI.Config/Dao-Context.config"/>
</objects>