<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="spring">
      <!--<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>-->
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <!--<appSettings>
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="MySessionFactory"/>
  </appSettings>-->
  
  <spring>
    <parsers>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
  </spring>
  
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>

   <!--框架数据库配置信息--> 
  <databaseSettings>
     <!--数据库产品支持配置信息--> 
    <add key="db.provider" value="SqlServer-2.0"/>
    <add key="db.dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
    <add key="db.driver_class" value="NHibernate.Driver.SqlClientDriver"/>

    <!--<add key="db.provider" value="MySql-5.1.4"/>
    <add key="db.dialect" value="NHibernate.Dialect.MySQL5Dialect"/>
    <add key="db.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>-->
     <!--数据库链接配置信息--> 
    <add key="db.server" value=".\SQLEXPRESS"/>
    <add key="db.database" value="ZxdSys"/>
    <add key="db.username" value="zxdcms"/>
    <add key="db.password" value="zxdcms"/>
  </databaseSettings>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture=""/>
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data"
                                 publicKeyToken="c5687fc88969c44d"
                                 culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535"
                           newVersion="6.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.0.0.4000"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>