<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database"
         xmlns:aop="http://www.springframework.net/aop"
         xmlns:tx="http://www.springframework.net/tx">
  
  <!--<object name="MySessionFactory" parent="abstrctSessionFactory">
    <property name="MappingAssemblies">
      <list>
        <value>ZxdFramework.Mvc</value>
        <value>ZxdFramework.Net.DataContract</value>
      </list>
    </property>
  </object>-->


  <object name="SpringControllerFactory" type="ZxdFramework.Mvc.Controllers.SpringControllerFactory, ZxdFramework.Mvc" />
  
  <import resource="assembly://ZxdFramework.Mvc/ZxdFramework.Mvc.Config/Dao-Context.config"/>
  <import resource="assembly://ZxdFramework.Mvc/ZxdFramework.Mvc.Config/Service-Context.config"/>
  <import resource="assembly://ZxdFramework.Net.Authorization/ZxdFramework.Authorization.Config/Authorize-Context.config"/>
  <import resource="assembly://ZxdFramework.Net.Script/ZxdFramework.Script.Config/Script-Context.config"/>
</objects>