<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database"
         xmlns:aop="http://www.springframework.net/aop"
         xmlns:tx="http://www.springframework.net/tx" default-autowire="constructor">
    <object name="AuthorizationFactory" type="ZxdFramework.Authorization.AuthorizationFactory, ZxdFramework.Net.Authorization" lazy-init="true"/>
    <object name="RoleReponsitory" type="ZxdFramework.Authorization.Dao.RoleReponsitory, ZxdFramework.Net.Authorization" />

    <object name="AccountRepository" type="ZxdFramework.Authorization.Dao.AccountRepository, ZxdFramework.Net.Authorization" />

    <!--<aop:config>
        <aop:advisor pointcut-ref="RoleChangedAdvisor" advice-ref="RoleChangedAdvice"/>
    </aop:config>-->


    <!--<object id="ProxyCreator" type="Spring.Aop.Framework.AutoProxy.ObjectNameAutoProxyCreator, Spring.Aop">
        <property name="ObjectNames">
            <list>
                <value>RoleReponsitory</value>
            </list>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>RoleChangedAdvice</value>
            </list>
        </property>
    </object>-->

    <!--<object type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
        <property name="ProxyInterfaces" value="ZxdFramework.Authorization.Dao.IRoleReponsitory"/>
        <property name="Target" ref="RoleReponsitory"/>
        <property name="InterceptorNames">
            <list>
                <value>RoleChangedAdvice</value>
            </list>
        </property>

    </object>-->


    <!--<object name="RoleChangedAdvisor" type ="Spring.Aop.Support.NameMatchMethodPointcutAdvisor, Spring.Aop"> 
        <property  name ="Advice"  ref ="RoleChangedAdvice"/> 
        <property  name ="MappedNames"> 
            <list> 
                <value>Add</value>
            </list>
        </property>
    </object>-->


    <!--<object name="RoleChangedAdvice" type="ZxdFramework.Authorization.RoleChangedAdvice, ZxdFramework.Net.Authorization" />-->

</objects>