<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database"
         xmlns:aop="http://www.springframework.net/aop"
         xmlns:tx="http://www.springframework.net/tx" default-autowire="constructor">
  <object name="DaoSupport" type="ZxdFramework.Dao.DaoSupport, ZxdFramework.Net" />
  <!--<object name="RepositoryBase" type="ZxdFramework.Dao.RepositoryBase, ZxdFramework.Net" autowire="constructor" />-->
  <object name="ModuleFileRepository" type="ZxdFramework.Dao.System.ModuleFileRepository, ZxdFramework.Net"/>
  <object name="RazorViewRepository" type="ZxdFramework.Dao.Page.RazorViewRepository, ZxdFramework.Net"/>
  <object name="IMDao" type="ZxdFramework.Dao.IM.IMDao, ZxdFramework.Net" />
  

</objects>